# 외부 데이터셋 (git clone으로 별도 관리)
urdf_files_dataset/
mujoco_menagerie/
mujoco-robotics-usage
6dof_ws

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# 가상환경
pinocchio/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# 로그 / 임시
*.log
*.tmp

# CUDA installer
cuda-*.deb
cuda-*pin*
